// Not sure if these can actually be used - don't think you can use CSS variables in media queries. TODO

:root {
  --mobius-breakpoint-xs: 0;
  --mobius-breakpoint-sm: 30rem; // 480px
  --mobius-breakpoint-md: 37.5rem; // 600px
  --mobius-breakpoint-lg: 48rem; // 768px
  --mobius-breakpoint-xl: 64rem; // 1024px
  --mobius-breakpoint-xxl: 80rem; // 1280px
  --mobius-breakpoint-xxxl: 90rem; // 1440px
  --mobius-breakpoint-tablet: var(--mobius-breakpoint-lg);
  --mobius-breakpoint-desktop: var(--mobius-breakpoint-xl);
  --mobius-breakpoint-max: var(--mobius-breakpoint-xxl);
}
