:root {
  --evg-button-border-radius: calc(var(--evg-spacing-thumb) / 2);
  --evg-button-border-width: 1px;

  // DEFAULT
  --evg-button-background-default: var(--evg-color-cloud);
  --evg-button-border-color-default: var(--evg-color-forest-50);
  --evg-button-color-default: var(--evg-color-forest);

  --evg-button-background-hover-default: var(--evg-color-cloud-75);
  --evg-button-border-color-hover-default: var(--evg-color-forest-50);
  --evg-button-color-hover-default: var(--evg-color-forest-75);

  --evg-button-background-focus-default: var(--evg-color-cloud);
  --evg-button-border-color-focus-default: var(--evg-color-forest);
  --evg-button-color-focus-default: var(--evg-color-forest);

  --evg-button-background-disabled-default: var(--evg-color-cloud-75);
  --evg-button-border-color-disabled-default: var(--evg-color-forest-25);
  --evg-button-color-disabled-default: var(--evg-color-forest-50);

  // PRIMARY
  --evg-button-background-primary: var(--evg-color-lime);
  --evg-button-border-color-primary: var(--evg-color-lime);
  --evg-button-color-primary: var(--evg-color-forest);

  --evg-button-background-hover-primary: var(--evg-color-lime-75);
  --evg-button-border-color-hover-primary: var(--evg-color-lime-75);
  --evg-button-color-hover-primary: var(--evg-color-forest-75);

  --evg-button-background-focus-primary: var(--evg-color-lime);
  --evg-button-border-color-focus-primary: var(--evg-color-forest);
  --evg-button-color-focus-primary: var(--evg-color-forest);

  --evg-button-background-disabled-primary: var(--evg-color-lime-25);
  --evg-button-border-color-disabled-primary: var(--evg-color-lime-25);
  --evg-button-color-disabled-primary: var(--evg-color-forest-50);

  // SECONDARY
  --evg-button-background-secondary: var(--evg-color-forest-75);
  --evg-button-border-color-secondary: var(--evg-color-forest-75);
  --evg-button-color-secondary: var(--evg-color-cloud);

  --evg-button-background-hover-secondary: var(--evg-color-forest);
  --evg-button-border-color-hover-secondary: var(--evg-color-forest);
  --evg-button-color-hover-secondary: var(--evg-color-cloud);

  --evg-button-background-focus-secondary: var(--evg-color-forest-75);
  --evg-button-border-color-focus-secondary: var(--evg-color-forest);
  --evg-button-color-focus-secondary: var(--evg-color-cloud);

  --evg-button-background-disabled-secondary: var(--evg-color-forest-50);
  --evg-button-border-color-disabled-secondary: var(--evg-color-forest-50);
  --evg-button-color-disabled-secondary: var(--evg-color-cloud);

  // POSITIVE
  --evg-button-background-positive: var(--evg-color-lime);
  --evg-button-border-color-positive: var(--evg-color-lime);
  --evg-button-color-positive: var(--evg-color-forest);

  --evg-button-background-hover-positive: var(--evg-color-lime-75);
  --evg-button-border-color-hover-positive: var(--evg-color-lime-75);
  --evg-button-color-hover-positive: var(--evg-color-forest-75);

  --evg-button-background-focus-positive: var(--evg-color-lime);
  --evg-button-border-color-focus-positive: var(--evg-color-forest);
  --evg-button-color-focus-positive: var(--evg-color-forest);

  --evg-button-background-disabled-positive: var(--evg-color-lime-25);
  --evg-button-border-color-disabled-positive: var(--evg-color-lime-25);
  --evg-button-color-disabled-positive: var(--evg-color-forest-50);

  // NEGATIVE
  --evg-button-background-negative: var(--evg-color-rose-75);
  --evg-button-border-color-negative: var(--evg-color-rose-75);
  --evg-button-color-negative: var(--evg-color-forest);

  --evg-button-background-hover-negative: var(--evg-color-rose-50);
  --evg-button-border-color-hover-negative: var(--evg-color-rose-50);
  --evg-button-color-hover-negative: var(--evg-color-forest-75);

  --evg-button-background-focus-negative: var(--evg-color-rose-75);
  --evg-button-border-color-focus-negative: var(--evg-color-forest);
  --evg-button-color-focus-negative: var(--evg-color-forest);

  --evg-button-background-disabled-negative: var(--evg-color-rose-25);
  --evg-button-border-color-disabled-negative: var(--evg-color-rose-25);
  --evg-button-color-disabled-negative: var(--evg-color-forest-50);

  // SET FALLBACK VALUES
  --evg-button-background: var(--evg-button-background-default);
  --evg-button-border-color: var(--evg-button-border-color-default);
  --evg-button-color: var(--evg-button-color-default);

  --evg-button-background-hover: var(--evg-button-background-hover-default);
  --evg-button-border-color-hover: var(--evg-button-border-color-hover-default);
  --evg-button-color-hover: var(--evg-button-color-hover-default);

  --evg-button-background-focus: var(--evg-button-background-focus-default);
  --evg-button-border-color-focus: var(--evg-button-border-color-focus-default);
  --evg-button-color-focus: var(--evg-button-color-focus-default);

  --evg-button-background-disabled: var(
    --evg-button-background-disabled-default
  );
  --evg-button-border-color-disabled: var(
    --evg-button-border-color-disabled-default
  );
  --evg-button-color-disabled: var(--evg-button-color-disabled-default);
}
