:root {
  --evg-button-border-radius: calc(var(--evg-spacing-thumb) / 2);
  --evg-button-border-width: 1px;

  --evg-button-padding-block: var(--evg-spacing-sm);
  --evg-button-padding-inline: var(--evg-spacing-lg);

  --evg-button-gap: var(--evg-spacing-8);

  --evg-button-font-size: var(--evg-font-size-16);
  --evg-button-line-height: var(--evg-font-line-height-lg);
  --evg-button-font-weight: var(--evg-font-weight-bold);

  --evg-button-file-background: var(--evg-color-sand-50);

  --evg-button-outline-offset: 4px;

  /* DEFAULT */
  --evg-button-background-default: var(--evg-color-cloud);
  --evg-button-border-color-default: var(--evg-color-forest-50);
  --evg-button-color-default: var(--evg-color-forest);

  --evg-button-background-hover-default: var(--evg-color-sand-25);
  --evg-button-border-color-hover-default: var(--evg-color-forest-50);
  --evg-button-color-hover-default: var(--evg-color-forest);

  --evg-button-background-focus-default: var(--evg-color-cloud);
  --evg-button-border-color-focus-default: var(--evg-color-forest);
  --evg-button-color-focus-default: var(--evg-color-forest);

  --evg-button-background-disabled-default: var(--evg-color-sand-25);
  --evg-button-border-color-disabled-default: var(--evg-color-forest-25);
  --evg-button-color-disabled-default: var(--evg-color-forest-50);

  /* PRIMARY */
  --evg-button-background-primary: var(--evg-color-lime);
  --evg-button-border-color-primary: var(--evg-color-lime);
  --evg-button-color-primary: var(--evg-color-forest);

  --evg-button-background-hover-primary: var(--evg-color-lime-75);
  --evg-button-border-color-hover-primary: var(--evg-color-lime-75);
  --evg-button-color-hover-primary: var(--evg-color-forest);

  --evg-button-background-focus-primary: var(--evg-color-lime);
  --evg-button-border-color-focus-primary: var(--evg-color-forest);
  --evg-button-color-focus-primary: var(--evg-color-forest);

  --evg-button-background-disabled-primary: var(--evg-color-earth-50);
  --evg-button-border-color-disabled-primary: var(--evg-color-earth-50);
  --evg-button-color-disabled-primary: var(--evg-color-forest-75);

  /* SECONDARY */
  --evg-button-background-secondary: var(--evg-color-forest-75);
  --evg-button-border-color-secondary: var(--evg-color-forest-75);
  --evg-button-color-secondary: var(--evg-color-cloud);

  --evg-button-background-hover-secondary: var(--evg-color-forest);
  --evg-button-border-color-hover-secondary: var(--evg-color-forest);
  --evg-button-color-hover-secondary: var(--evg-color-cloud);

  --evg-button-background-focus-secondary: var(--evg-color-forest-75);
  --evg-button-border-color-focus-secondary: var(--evg-color-forest);
  --evg-button-color-focus-secondary: var(--evg-color-cloud);

  --evg-button-background-disabled-secondary: var(--evg-color-forest-50);
  --evg-button-border-color-disabled-secondary: var(--evg-color-forest-50);
  --evg-button-color-disabled-secondary: var(--evg-color-cloud);

  /* NEGATIVE */
  --evg-button-background-negative: var(--evg-color-rose-75);
  --evg-button-border-color-negative: var(--evg-color-rose-75);
  --evg-button-color-negative: var(--evg-color-forest);

  --evg-button-background-hover-negative: var(--evg-color-rose-50);
  --evg-button-border-color-hover-negative: var(--evg-color-rose-50);
  --evg-button-color-hover-negative: var(--evg-color-forest);

  --evg-button-background-focus-negative: var(--evg-color-rose-75);
  --evg-button-border-color-focus-negative: var(--evg-color-forest);
  --evg-button-color-focus-negative: var(--evg-color-forest);

  --evg-button-background-disabled-negative: var(--evg-color-sand);
  --evg-button-border-color-disabled-negative: var(--evg-color-sand);
  --evg-button-color-disabled-negative: var(--evg-color-forest-75);

  /* TEXT */
  --evg-button-background-text: transparent;
  --evg-button-border-color-text: transparent;
  --evg-button-color-text: var(--evg-color-forest);

  --evg-button-background-hover-text: transparent;
  --evg-button-border-color-hover-text: transparent;
  --evg-button-color-hover-text: var(--evg-color-forest);

  --evg-button-background-focus-text: transparent;
  --evg-button-border-color-focus-text: transparent;
  --evg-button-color-focus-text: var(--evg-color-forest);

  --evg-button-background-disabled-text: transparent;
  --evg-button-border-color-disabled-text: transparent;
  --evg-button-color-disabled-text: var(--evg-color-forest-75);
}
