:root {
  --evg-color-forest: #0b301a;
  --evg-color-forest-75: #486453;
  --evg-color-forest-50: #85978c;
  --evg-color-forest-25: #c2cbc6;

  --evg-color-earth: #a9ad94;
  --evg-color-earth-75: #bfc1ae;
  --evg-color-earth-50: #d4d6c9;
  --evg-color-earth-25: #e9ebe5;

  --evg-color-sand: #e8e0d6;
  --evg-color-sand-75: #eee8e0;
  --evg-color-sand-50: #f3efeb;
  --evg-color-sand-25: #f9f7f5;

  --evg-color-lime: #cbff89;
  --evg-color-lime-75: #d7ffa6;
  --evg-color-lime-50: #e5ffc3;
  --evg-color-lime-25: #f1ffdf;

  --evg-color-sky: #94b9fa;
  --evg-color-sky-75: #afccf9;
  --evg-color-sky-50: #c7ddff;
  --evg-color-sky-25: #e4edff;

  --evg-color-rose: #f33;
  --evg-color-rose-75: #ed706b;
  --evg-color-rose-50: #f19e9c;
  --evg-color-rose-25: #f7cecd;

  --evg-color-cloud: #fff;
  --evg-color-coal: #000;
}
