:root {
  --mobius-container-color-grey: #828282;
  --mobius-container-color-black: #4f4f4f;
  --mobius-container-color-grey-light: #bdbdbd;
  --mobius-container-color-blue: #2d9cdb;
  --mobius-container-color-blue-mid: #1579c6;
  --mobius-container-color-blue-dark: #2262b9;
  --mobius-container-color-blue-light: #56ccf2;
  --mobius-container-color-blue-muted: #d7e7f5;
  --mobius-container-color-green: #3cb848;
  --mobius-container-color-green-dark: #219653;
  --mobius-container-color-green-light: #6fcf97;
  --mobius-container-color-cream: #e1d9c0;
  --mobius-container-color-yellow: #f2c94c;
  --mobius-container-color-white: #f4f7f9;
  --mobius-container-color-red: #f24545;
  --mobius-container-color-brown: #ad7849;
  --mobius-container-color-orange: #f2994a;
  --mobius-container-color-pink: #ff649e;
  --mobius-container-color-magenta: #d12767;
  --mobius-container-color-maroon: #a62f5a;
  --mobius-container-color-purple: #9946db;
  --mobius-container-color-duck-egg: #89c1ab;
  --mobius-container-color-transparent: #fff0;
}
