:root {
  --evg-font-family: 'Inter', Roboto, Lato, sans-serif;
  --evg-font-family-heading: 'Marr Sans Cond Web', 'Roboto Condensed', Impact,
    sans-serif;

  --evg-font-weight-base: 400;
  --evg-font-weight-light: 300;
  --evg-font-weight-bold: 700;
  --evg-font-weight-black: 800;

  --evg-font-line-height-sm: 1.25;
  --evg-font-line-height: 1.5;
  --evg-font-line-height-lg: 1.75;

  --evg-font-size-12: 0.75rem;
  --evg-font-size-14: 0.875rem;
  --evg-font-size-16: 1rem;
  --evg-font-size-20: 1.25rem;
  --evg-font-size-24: 1.5rem;
  --evg-font-size-32: 2rem;
  --evg-font-size-40: 2.5rem;
  --evg-font-size-52: 3.25rem;
  --evg-font-size-64: 4rem;
  --evg-font-size-80: 5rem;
  --evg-font-size-96: 6rem;
  --evg-font-size-120: 7.5rem;

  --evg-font-size-body-xs: clamp(
    var(--evg-font-size-12),
    calc(var(--evg-font-size-12) + ((100vw - 320px) * 0.004)),
    var(--evg-font-size-14)
  );
  --evg-font-size-body-sm: clamp(
    var(--evg-font-size-14),
    calc(var(--evg-font-size-14) + ((100vw - 320px) * 0.004)),
    var(--evg-font-size-16)
  );
  --evg-font-size-body-md: clamp(
    var(--evg-font-size-16),
    calc(var(--evg-font-size-16) + ((100vw - 320px) * 0.009)),
    var(--evg-font-size-20)
  );
  --evg-font-size-body-lg: clamp(
    var(--evg-font-size-20),
    calc(var(--evg-font-size-20) + ((100vw - 320px) * 0.009)),
    var(--evg-font-size-24)
  );
  --evg-font-size-body-xl: clamp(
    var(--evg-font-size-24),
    calc(var(--evg-font-size-24) + ((100vw - 320px) * 0.018)),
    var(--evg-font-size-32)
  );

  --evg-font-size-heading-xxs: clamp(
    var(--evg-font-size-14),
    calc(var(--evg-font-size-14) + ((100vw - 320px) * 0)),
    var(--evg-font-size-14)
  );
  --evg-font-size-heading-xs: clamp(
    var(--evg-font-size-16),
    calc(var(--evg-font-size-16) + ((100vw - 320px) * 0)),
    var(--evg-font-size-16)
  );
  --evg-font-size-heading-sm: clamp(
    var(--evg-font-size-20),
    calc(var(--evg-font-size-20) + ((100vw - 320px) * 0.009)),
    var(--evg-font-size-24)
  );
  --evg-font-size-heading-md: clamp(
    var(--evg-font-size-24),
    calc(var(--evg-font-size-24) + ((100vw - 320px) * 0.018)),
    var(--evg-font-size-32)
  );
  --evg-font-size-heading-lg: clamp(
    var(--evg-font-size-32),
    calc(var(--evg-font-size-32) + ((100vw - 320px) * 0.045)),
    var(--evg-font-size-52)
  );
  --evg-font-size-heading-xl: clamp(
    var(--evg-font-size-40),
    calc(var(--evg-font-size-40) + ((100vw - 320px) * 0.054)),
    var(--evg-font-size-64)
  );

  --evg-font-size-display-sm: clamp(
    var(--evg-font-size-40),
    calc(var(--evg-font-size-40) + ((100vw - 320px) * 0.089)),
    var(--evg-font-size-80)
  );
  --evg-font-size-display-md: clamp(
    var(--evg-font-size-52),
    calc(var(--evg-font-size-52) + ((100vw - 320px) * 0.098)),
    var(--evg-font-size-96)
  );
  --evg-font-size-display-lg: clamp(
    var(--evg-font-size-64),
    calc(var(--evg-font-size-64) + ((100vw - 320px) * 0.125)),
    var(--evg-font-size-120)
  );
}
