:root {
  --evg-font-family: 'Inter', Roboto, Lato, sans-serif;
  --evg-font-family-roboto: Roboto, Lato, sans-serif;
  --evg-font-family-heading: 'Marr Sans Cond Web', 'Roboto Condensed', Impact,
    sans-serif;

  --evg-font-line-height: 1.25;
  --evg-font-line-height-sm: 1.125;
  --evg-font-line-height-lg: 1.5;

  --evg-font-size-base: 1rem;
  --evg-font-size-xs: 0.75em;
  --evg-font-size-sm: 0.875em;
  --evg-font-size-md: 1.125em;
  --evg-font-size-lg: 1.25em;
  --evg-font-size-xl: 1.5em;

  --evg-font-size-h1: 2.25em;
  --evg-font-size-h2: var(--evg-font-size-lg);
  --evg-font-size-h3: var(--evg-font-size-md);
  --evg-font-size-h4: var(--evg-font-size-base);
  --evg-font-size-h5: var(--evg-font-size-sm);
  --evg-font-size-h6: var(--evg-font-size-xs);

  --evg-font-weight-base: 400;
  --evg-font-weight-light: 300;
  --evg-font-weight-bold: 700;
  --evg-font-weight-black: 800;
}
