:root {
  --evg-input-background: var(--evg-color-cloud);
  --evg-input-background-focus: var(--evg-color-cloud);
  --evg-input-background-disabled: var(--evg-color-earth-25);

  --evg-input-border: var(--evg-color-forest-25);
  --evg-input-border-hover: var(--evg-color-forest-50);
  --evg-input-border-focus: var(--evg-color-forest-75);
  --evg-input-border-radius: var(--evg-radius-sm);

  --evg-input-color: var(--evg-color-forest);
  --evg-input-color-disabled: var(--evg-color-forest-75);

  --evg-input-font-size: var(--evg-font-size-16);
  --evg-input-line-height: 1.75;

  --evg-input-checked: var(--evg-color-forest);
  --evg-input-checkradio-border-radius: var(--evg-radius-sm);

  --evg-input-padding-block: var(--evg-spacing-sm);
  --evg-input-padding-inline: var(--evg-spacing-md);
  --evg-input-padding: var(--evg-input-padding-block)
    var(--evg-input-padding-inline);

  --evg-input-outline-offset: 4px;
}
