:root {
  --evg-sentiment-neutral: var(--evg-color-sky-75);
  --evg-sentiment-neutral-light: var(--evg-color-sky-25);

  --evg-sentiment-positive: var(--evg-color-lime);
  --evg-sentiment-positive-light: var(--evg-color-lime-50);

  --evg-sentiment-negative: var(--evg-color-rose-50);
  --evg-sentiment-negative-light: var(--evg-color-rose-25);
}
