:root {
  --evg-spacing-thumb: 2.75rem;

  --evg-spacing: 1rem;

  --evg-spacing-4: 0.25rem;
  --evg-spacing-8: 0.5rem;
  --evg-spacing-12: 0.75rem;
  --evg-spacing-16: 1rem;
  --evg-spacing-24: 1.5rem;
  --evg-spacing-32: 2rem;
  --evg-spacing-48: 3rem;
  --evg-spacing-64: 4rem;
  --evg-spacing-96: 6rem;
  --evg-spacing-128: 8rem;

  --evg-spacing-xs: var(--evg-spacing-4);
  --evg-spacing-sm: var(--evg-spacing-8);
  --evg-spacing-md: var(--evg-spacing-16);
  --evg-spacing-lg: var(--evg-spacing-32);
  --evg-spacing-xl: var(--evg-spacing-64);

  --evg-spacing-fluid: 5%;
  --evg-spacing-fluid-lg: calc(var(--evg-spacing-fluid) * 1.5);
  --evg-spacing-fluid-sm: calc(var(--evg-spacing-fluid) * 0.5);

  --evg-spacing-root: 5vw;
  --evg-spacing-root-lg: calc(var(--evg-spacing-root) * 1.5);
  --evg-spacing-root-sm: calc(var(--evg-spacing-root) * 0.5);
  --evg-spacing-root-xl: calc(var(--evg-spacing-root) * 2.25);
}
