:root {
  --evg-theme-background-default: var(--evg-color-cloud);
  --evg-theme-color-default: var(--evg-color-forest);
  --evg-theme-heading-color-default: var(--evg-color-forest);
  --evg-theme-link-color-default: var(--evg-color-forest);

  --evg-theme-background-sand: var(--evg-color-sand-50);
  --evg-theme-color-sand: var(--evg-color-forest);
  --evg-theme-heading-color-sand: var(--evg-color-forest);
  --evg-theme-link-color-sand: var(--evg-color-forest);

  --evg-theme-background-forest: var(--evg-color-forest);
  --evg-theme-color-forest: var(--evg-color-cloud);
  --evg-theme-heading-color-forest: var(--evg-color-cloud);
  --evg-theme-link-color-forest: var(--evg-color-cloud);

  --evg-theme-background-forest-light: var(--evg-color-forest-25);
  --evg-theme-color-forest-light: var(--evg-color-forest);
  --evg-theme-heading-color-forest-light: var(--evg-color-forest);
  --evg-theme-link-color-forest-light: var(--evg-color-forest);

  --evg-theme-background-lime: var(--evg-color-lime);
  --evg-theme-color-lime: var(--evg-color-forest);
  --evg-theme-heading-color-lime: var(--evg-color-forest);
  --evg-theme-link-color-lime: var(--evg-color-forest);

  --evg-theme-background-lime-light: var(--evg-color-lime-25);
  --evg-theme-color-lime-light: var(--evg-color-forest);
  --evg-theme-heading-color-lime-light: var(--evg-color-forest);
  --evg-theme-link-color-lime-light: var(--evg-color-forest);

  --evg-theme-background-sky: var(--evg-color-sky-50);
  --evg-theme-color-sky: var(--evg-color-forest);
  --evg-theme-heading-color-sky: var(--evg-color-forest);
  --evg-theme-link-color-sky: var(--evg-color-forest);

  --evg-theme-background-sky-light: var(--evg-color-sky-25);
  --evg-theme-color-sky-light: var(--evg-color-forest);
  --evg-theme-heading-color-sky-light: var(--evg-color-forest);
  --evg-theme-link-color-sky-light: var(--evg-color-forest);

  --evg-theme-background-earth: var(--evg-color-earth-75);
  --evg-theme-color-earth: var(--evg-color-forest);
  --evg-theme-heading-color-earth: var(--evg-color-forest);
  --evg-theme-link-color-earth: var(--evg-color-forest);

  --evg-theme-background-earth-light: var(--evg-color-earth-25);
  --evg-theme-color-earth-light: var(--evg-color-forest);
  --evg-theme-heading-color-earth-light: var(--evg-color-forest);
  --evg-theme-link-color-earth-light: var(--evg-color-forest);

  --evg-theme-background: var(--evg-theme-background-default);
  --evg-theme-color: var(--evg-theme-color-default);
  --evg-theme-heading-color: var(--evg-theme-heading-color-default);
  --evg-theme-link-color: var(--evg-theme-link-color-default);
}
