:root {
  --evg-theme-default-background: var(--evg-color-cloud);
  --evg-theme-default-color: var(--evg-color-forest);
  --evg-theme-default-heading-color: var(--evg-color-forest);
  --evg-theme-link-color: var(--evg-color-forest);

  --evg-theme-sand-background: var(--evg-color-sand-50);
  --evg-theme-sand-color: var(--evg-color-forest);
  --evg-theme-sand-heading-color: var(--evg-color-forest);
  --evg-theme-sand-link-color: var(--evg-color-forest);

  --evg-theme-forest-background: var(--evg-color-forest);
  --evg-theme-forest-color: var(--evg-color-cloud);
  --evg-theme-forest-heading-color: var(--evg-color-cloud);
  --evg-theme-forest-link-color: var(--evg-color-cloud);

  --evg-theme-forest-light-background: var(--evg-color-forest-25);
  --evg-theme-forest-light-color: var(--evg-color-forest);
  --evg-theme-forest-light-heading-color: var(--evg-color-forest);
  --evg-theme-forest-light-link-color: var(--evg-color-forest);

  --evg-theme-lime-background: var(--evg-color-lime);
  --evg-theme-lime-color: var(--evg-color-forest);
  --evg-theme-lime-heading-color: var(--evg-color-forest);
  --evg-theme-lime-link-color: var(--evg-color-forest);

  --evg-theme-lime-light-background: var(--evg-color-lime-25);
  --evg-theme-lime-light-color: var(--evg-color-forest);
  --evg-theme-lime-light-heading-color: var(--evg-color-forest);
  --evg-theme-lime-light-link-color: var(--evg-color-forest);

  --evg-theme-sky-background: var(--evg-color-sky-50);
  --evg-theme-sky-color: var(--evg-color-forest);
  --evg-theme-sky-heading-color: var(--evg-color-forest);
  --evg-theme-sky-link-color: var(--evg-color-forest);

  --evg-theme-sky-light-background: var(--evg-color-sky-25);
  --evg-theme-sky-light-color: var(--evg-color-forest);
  --evg-theme-sky-light-heading-color: var(--evg-color-forest);
  --evg-theme-sky-light-link-color: var(--evg-color-forest);

  --evg-theme-earth-background: var(--evg-color-earth-75);
  --evg-theme-earth-color: var(--evg-color-forest);
  --evg-theme-earth-heading-color: var(--evg-color-forest);
  --evg-theme-earth-link-color: var(--evg-color-forest);

  --evg-theme-earth-light-background: var(--evg-color-earth-25);
  --evg-theme-earth-light-color: var(--evg-color-forest);
  --evg-theme-earth-light-heading-color: var(--evg-color-forest);
  --evg-theme-earth-light-link-color: var(--evg-color-forest);
}
